<div class="footer">
    <div class="s-media mt-3">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-linkedin"></i>
    </div>
    <h5 style="text-align: center;" class="mt-2">&#169; WanderLust | Copyright | Reserved</h2>
</div>